#game-canvas{
    max-width: 100%;
    max-height: 100%;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}
img{
    opacity: 0;
}